@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 1440px;
    margin: 20px auto;
    background-image: url("https://images.unsplash.com/photo-1541274385403-fc308d54db77?q=80&w=2176&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    height: 50px;
    color: #e1dbff;
    text-shadow: 4px 4px 2px rgb(114, 115, 128);
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}


/*-------------------------------------------index-------------------------------------------------------------------------*/
div#userHolder {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 80%;
    width: auto;
    margin: 20px 100px;
}

div#userCard {
    padding: 10px;
    background-color: #e1dbff;
    width: 400px;
    height: 120px;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 6px 6px 14px 0 rgba(66, 68, 90, 1);
    transition: 1s;
}

div#userCard:hover {
    scale: 1.1;
    transition: 0.3s;
}

button#userInfo {
    font-weight: 700;
    color: white;
    background-color: rgb(104, 94, 174);
    border-style: none;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    margin: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button#userInfo:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}

/*-------------------------------------------------user-details-------------------------------------------------------------------*/

div#cardInfoHolder {
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div#infoHolder {
    line-height: 1.7em;
    display: flex;
    justify-content: space-evenly;
    background-color: #e1dbff;
    width: 90%;
    height: 210px;
    border-style: none;
    border-radius: 20px;
    padding: 25px 35px;
    margin: 20px auto;
    gap: 20px;
}

button#postButton {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 3px;
    color: white;
    background-color: rgb(104, 94, 174);
    border-style: none;
    border-radius: 10px;
    height: 40px;
    width: 90%;
    margin: 15px 5%;
    cursor: pointer;
    transition: 0.3s;
}

button#postButton:hover {
    color: black;
    background-color: white;
    transition: 0.3s;

}

div#postsHolder {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    margin: 15px 5%;

}

div#postHolder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e1dbff;
    width: 220px;
    height: 170px;
    border-style: none;
    border-radius: 20px;
    padding: 15px;
    margin: 15px 0;
    transition: 0.5s;
}

div#postHolder:hover {
    scale: 1.1;
    transition: 0.3s;
}

button#postInfo {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    height: 25px;
    border-style: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(104, 94, 174);
    cursor: pointer;
    transition: 0.3s;
}

button#postInfo:hover {
    color: black;
    background-color: white;
    transition: 0.3s;
}